body {
    background: #222032;
}

.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.informer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
    margin-top: 75px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    overflow-wrap: normal;
    color: #6BD6E1;
    animation: informer-up-anim 1s;
    animation-delay: 0.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes informer-up-anim {
    to { opacity:1 }
}

.informer-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 75px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #6BD6E1;
    animation: informer-anim 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.timer-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin-top: 85px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #6BD6E1;
    animation: timer-anim 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.slide-up {
    position: relative;
    animation: slide-up-anim 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up-anim {
    from { bottom:-100px; opacity:0 }
    to { bottom: 0; opacity:1 }
}

.fade {
    animation: slide-up-anim 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-anim {
    from { opacity:0 }
    to { opacity:1 }
}

@keyframes informer-anim {
    to { margin-top: 90px; opacity: 0 }
}

@keyframes timer-anim {
    to { opacity: 1; }
}

.object {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.outline {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #B5A4A4;
    animation: pulse 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    position: absolute;
}

.button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #50CDDD;
    box-shadow: 0px 0px 80px #0084F9;
    position: absolute;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
    border: 65px solid #0B3082;
  }
  50% {
    border: solid #A3FFC2;
    opacity: 0.8;
  }

	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}

#delayed {
	animation-delay: 1.5s;
}

#circlein {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #6BD6E1;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
}

.mic-icon {
	height: 60px;
	margin: 21px;
}

.timer-value {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}