{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet-font-awesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>Title</title>
</head>
<body>
    <div class="greeter">
        Hi {{ user.username }}!
        <a href="{% url 'logout' %}">Log Out</a>
    </div>

    <div class="header">
        <p class="headline">Task History</p>
        <button class="new-task-button" onclick="location.href='{% url 'record' %}'"><i class="fa fa-plus"></i> New Task</button>
    </div>

    <table class="styled-table" id="task-table">
        <thead>
        <tr>
            <th>Task ID</th>
            <th>Status</th>
            <th class="centred-th-style">Result</th>
            <th class="centred-th-style">Delete</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script src="{% static 'js/fill-table.js' %}"></script>

    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img" width="256" height="256">
    </div>

</body>
</html>