{% load static %}

<link rel="stylesheet" href="{% static 'css/app.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{#<div class="box" id='box'>#}
{#    <button class='slide-up' onClick={onClick()} id="mic-button">#}
{#    <div class="object">#}
{#        <div class='' id="outline"></div>#}
{#        <div class='' id="delayed"></div>#}
{#        <div class="button"></div>#}
{#        <div class="button" id="circlein">#}
{#            <svg class="mic-icon" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000"#}
{#                 enable-background="new 0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">#}
{#                <g>#}
{#                    <path fill="#1E2D70"#}
{#                          d="M500,683.8c84.6,0,153.1-68.6,153.1-153.1V163.1C653.1,78.6,584.6,10,500,10c-84.6,0-153.1,68.6-153.1,153.1v367.5C346.9,615.2,415.4,683.8,500,683.8z M714.4,438.8v91.9C714.4,649,618.4,745,500,745c-118.4,0-214.4-96-214.4-214.4v-91.9h-61.3v91.9c0,141.9,107.2,258.7,245,273.9v124.2H346.9V990h306.3v-61.3H530.6V804.5c137.8-15.2,245-132.1,245-273.9v-91.9H714.4z"></path>#}
{#                </g>#}
{#            </svg>#}
{#        </div>#}
{#    </div>#}
{#    </button>#}
{##}
{#    <button id="loader-button" hidden="hidden">#}
{#        <div class="object">#}
{#            <div class="loader" id="loader">Loader</div>#}
{#        </div>#}
{#    </button>#}
{##}
{#    <div class="informer" id="informer"><p>Начать запись</p></div>#}
{#    <div class="timer" id="timer"><p id="timer-value">0:03</p></div>#}
{##}
{#</div>#}

<div class="align-center" id='box'>
    <button class='slide-up' onClick={onClick()} id="mic-button">
        <div class="object">
            <div class='' id="outline"></div>
            <div class='' id="delayed"></div>
            <div class="button"></div>
            <div class="button" id="circlein">
                <svg class="mic-icon" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000"
                     enable-background="new 0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path fill="#1E2D70"
                              d="M500,683.8c84.6,0,153.1-68.6,153.1-153.1V163.1C653.1,78.6,584.6,10,500,10c-84.6,0-153.1,68.6-153.1,153.1v367.5C346.9,615.2,415.4,683.8,500,683.8z M714.4,438.8v91.9C714.4,649,618.4,745,500,745c-118.4,0-214.4-96-214.4-214.4v-91.9h-61.3v91.9c0,141.9,107.2,258.7,245,273.9v124.2H346.9V990h306.3v-61.3H530.6V804.5c137.8-15.2,245-132.1,245-273.9v-91.9H714.4z"></path>
                    </g>
                </svg>
            </div>
        </div>
    </button>
</div>

<div class="informer" id="informer"><p>Начать запись</p></div>
<div class="" id="timer"><p id="timer-value">0:03</p></div>

<div class="loader-slider" id="loader-slider">
    <div class="loader" id="loader" hidden="hidden">Loader</div>
</div>

<div class="image-slider" id="image-slider">
    <img class="align-center" id="image" hidden="hidden" src="" width="256" height="256" alt="Your face">
</div>

</body>
</html>